body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4682B4;
}

.login-container {
    display: flex;
    background-color: #033E8C
    ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #04B2D9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 130px;
    margin-left: 100px; 
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #04B2D9;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 10px; 
    margin-top: 5px;
}

.form-container {
    padding: 20px;
}

.small-image {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;

    width: 50px; 
    height: auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000; /* Color para las etiquetas del formulario de mascotas */
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}

.buttons button[type="submit"] {
    background-color: #04B2D9;
    color: #ffffff;
}

.buttons button.logout {
    background-color: #04B2D9;
    color: #ffffff;

}

.form-container {
    padding: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000; /* Color para las etiquetas del formulario de mascotas */
}

.form-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: -0px;
}

.buttons button[type="submit"] {
    background-color: #04B2D9;
    color: #ffffff;
}

.buttons button.logout {
    background-color: #04B2D9;
    color: #ffffff;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    outline: 0;
    background:ffff;
    color: #181616;
    padding: 10px;
    border-radius: 5px;
  }

  
.obligatorio {
    font-size: 8px;
    color: red;
    margin-left: 5px;
}





